.test_and_result{
    background-color:grey;
    color: rgb(245, 245, 245);
    border-radius: 20px;
    padding: 12px;
    margin-top: 30px;
}
span{
    color: red;
    font-size: 18px;

}
.image_responsive{
    border-radius: 20px;
    width: 500px;
}
b{
    color: purple;
}
.layout{
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    margin-left: 10px;
}